.home{
    display: grid;
    grid-template-rows: 2;
}

.price-cards{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    gap: 0.5rem;
    grid-template-columns: 4;
    justify-content: space-around;
    align-items: center;
}


/* rename */
.price-card-1{
    grid-column-start: 2;
    grid-column-end: 3;
}

/* rename */
.price-card-2{
    grid-column-start: 3;
    grid-column-end: 4;
}

/* rename */
.price-card-3{
    grid-column-start: 4;
    grid-column-end: 5;
}

/* rename */
.price-card-4{
    grid-column-start: 5;
    grid-column-end: 6;
}

@media screen and (max-width: 768px) {
    .price-cards{
        display: flex;
        flex-direction: column;
    }
    .price-card{
        width: 100%;
    }
}

/* rename */
.second-part{
    display: flex;
    flex-direction: row;
    grid-template-columns: 2;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 768px){
    .second-part{
        flex-direction: column;
    }
}
